<mj-section padding-bottom="20px">
  <mj-column width="290px">
    <mj-text
      font-size="32px"
      color="#FFF"
      font-family="helvetica"
      font-weight="bold"
      padding-bottom="4px"
      align="center"
    >
      <a
        href="https://bullish.email"
        target="_blank"
        style="color: #fff; text-decoration: none"
        >Bullish▲</a
      >
    </mj-text>
    <mj-text
      font-size="12px"
      color="#FFF"
      font-family="helvetica"
      align="justify"
      padding-top="10px"
      >Bullish is not operated by a broker, a dealer, or a registered investment
      adviser. Under no circumstances does any information posted on Bullish
      represent a recommendation to buy or sell a security.</mj-text
    >
    {{#premium}}
    <mj-text
      font-size="12px"
      color="#FFF"
      font-family="helvetica"
      align="center"
    >
      <a
        href="https://bullish.email/.netlify/functions/subscription?id={$customer_id}"
        target="_blank"
        style="color: #fff; text-decoration: underline"
        >Update subscription</a
      >
    </mj-text>
    {{/premium}}
    <mj-text
      font-size="12px"
      color="#FFF"
      font-family="helvetica"
      align="center"
    >
      <a
        href="{$unsubscribe}"
        target="_blank"
        style="color: #fff; text-decoration: underline"
        >Unsubscribe</a
      >
    </mj-text>
  </mj-column>
</mj-section>
