<mj-section padding-top="0px" padding-bottom="15px">
  <mj-group>
    <mj-column>
      <mj-text font-size="22px" color="#FFF" font-family="helvetica" font-weight="bold" align="right" padding-bottom="0px">{{title1}}</mj-text>
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="right" padding-top="5px" padding-bottom="4px">{{subtitle1}}</mj-text>
      <mj-text font-size="30px" color="{{color1}}" font-family="helvetica" font-weight="bold" align="right">{{value1}}</mj-text>
    </mj-column>
    <mj-column>
      <mj-text font-size="22px" color="#FFF" font-family="helvetica" font-weight="bold" align="left" padding-bottom="0px">{{title2}}</mj-text>
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="left" padding-top="5px" padding-bottom="4px">{{subtitle2}}</mj-text>
      <mj-text font-size="30px" color="{{color2}}" font-family="helvetica" font-weight="bold" align="left">{{value2}}</mj-text>
    </mj-column>
  </mj-group>      
</mj-section>
