<mj-section padding-top="0px" padding-bottom="15px">
  <mj-group>
    <mj-column>
      <mj-text font-size="22px" color="#FFF" font-family="helvetica" font-weight="bold" align="right" line-height="2px">S&P 500</mj-text>
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="right">2922.94 pts</mj-text>
      <mj-text font-size="30px" color="#21bf73" font-family="helvetica" font-weight="bold" align="right" padding-top="10px">120.39%</mj-text>
    </mj-column>
    <mj-column>
      <mj-text font-size="22px" color="#FFF" font-family="helvetica" font-weight="bold" align="left" line-height="2px">Nasdaq</mj-text>
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="left">9185.10 pts</mj-text>
      <mj-text font-size="30px" color="#d63447" font-family="helvetica" font-weight="bold" align="left" padding-top="10px">-23.34%</mj-text>
    </mj-column>
  </mj-group>      
</mj-section>
