{{#headline}}

<mj-section padding-top="0px" padding-bottom="10px">
  <mj-column width="350px">
    <mj-text
      font-size="15px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="15px"
      line-height="22px"
      padding-left="45px"
      padding-right="45px"
    >
        <a href="{{url}}" target="_blank" style="color:#FFF; text-decoration:none">
          {{headline}}
        </a>
        <br>
        <i>{{source}}</i>
    </mj-text>
  </mj-column>
</mj-section>

{{/headline}}
