<mj-section>
  <mj-column>
    {{#headline}}
    <mj-text
      font-size="16px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      line-height="25px"
      padding-bottom="10px"
    >
      {{headline}}
    </mj-text>
    {{/headline}}

    <mj-button
      font-size="18px"
      font-weight="bold"
      font-family="Helvetica"
      background-color="#21bf73"
      color="white"
      href="https://bullish.email/checkout.html?email={$email}"
    >
      {{label}}
    </mj-button>
  </mj-column>
</mj-section>
