{{#label}}

<mj-section padding-top="0px" padding-bottom="20px">
  <mj-column width="180px">
    <mj-text
      font-size="13px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="0px"
      line-height="20px"
    >
      Sponsored by </br>Robinhood
    </mj-text>

    <mj-text
      font-size="13px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="0px"
      line-height="20px"
    >
      <a
        href="https://join.robinhood.com/eduardm29"
        target="_blank"
        style="color:#FFF; text-decoration:underline"
        >{{label}}</a
      >
    </mj-text>
  </mj-column>
</mj-section>

{{/label}}
