{{#label}}

<mj-section padding-top="0px" padding-bottom="20px">
  <mj-column>
    <mj-text
      font-size="15px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="0px"
      line-height="20px"
    >
      Help us get featured. Vote!<br /><br />
      <a
        href="https://www.producthunt.com/posts/bullish?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-bullish"
        target="_blank"
        ><img
          src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=224581&theme=light"
          alt="Bullish - The Stock Market in your inbox every morning | Product Hunt Embed"
          style="width: 250px; height: 54px;"
          width="250px"
          height="54px"
      /></a>
    </mj-text>
  </mj-column>
</mj-section>

{{/label}}
