{{#label}}

<mj-section padding-top="0px" padding-bottom="10px">
  <mj-column width="300px">
    <mj-text
      font-size="13px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="0px"
      line-height="20px"
    >
      Sponsored by </br>
      <a
        href="https://readthejoe.com/"
        target="_blank"
        style="color:#FFF; text-decoration:underline"
        >The Average Joe</a
      >
    </mj-text>

    <mj-text
      font-size="13px"
      color="#FFF"
      font-family="helvetica"
      align="center"
      padding-top="0px"
      line-height="20px"
    >
      <a
        href="https://readthejoe.com/"
        target="_blank"
        style="color:#FFF; text-decoration:none"
        >{{label}}</a
      >
    </mj-text>
  </mj-column>
</mj-section>

{{/label}}
