<mj-section padding-bottom="20px" padding-top="30px">
  <mj-column>
    <mj-text font-size="24px" color="#FFF" font-family="helvetica" font-weight="bold" align="center" line-height="22px" padding-bottom="0px">
      <a href="https://finance.yahoo.com/quote/SRNE/">SRNE · $6.76</a>
    </mj-text>
    <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="center" padding-bottom="5px">Sorrento Therapeutics Inc.</mj-text>
  </mj-column>
</mj-section>

<mj-section padding="0px">
  <mj-column>
    <mj-table width="260px" align="center" padding="0px">
      <tr>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; text-align:right; padding-right:5px;width:35px'>1D</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height:22px; font-weight:bold; align=left; width:100px'>125.44%</td>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; text-align:right; padding-right:5px; width:35px'>5D</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height: 28px; font-weight:bold; align=left; width:100px;'>32.56%</td>
      </tr>
    </mj-table>
  </mj-column>
</mj-section>

<mj-section padding="0px">
  <mj-column>
    <mj-table width="260px" align="center" padding="0px">
      <tr>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; text-align:right; padding-right:5px; width:35px'>1M</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height:22px; font-weight:bold; align=left; width:100px;'>2%</td>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; text-align:right; padding-right:5px; width:35px;'>3M</td>
        <td style='font-size:20px; color:#d63447; font-family:helvetica; line-height:28px; font-weight:bold; align=left; width:100px;'>-95.12%</td>
      </tr>
    </mj-table>
  </mj-column>
</mj-section>
<mj-section padding="0px">
  <mj-column>
    <mj-table width="260px" align="center" padding="0px">
      <tr>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; padding-bottom:2px; text-align:right; padding-right:5px; width:35px'>6M</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height:22px; padding-bottom:2px; font-weight:bold; align=left; width:100px;'>38.76%</td>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; padding-bottom:2px;text-align:right; padding-right:5px;width:35px'>1Y</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height:28px; padding-bottom:2px; font-weight:bold; align=left; width:100px;'>901.12%</td>
      </tr>
    </mj-table>
  </mj-column>
</mj-section>

<mj-section padding="0px">
  <mj-column>
    <mj-table width="260px" align="center" padding="0px">
      <tr>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; padding-bottom:2px; text-align:right; padding-right:5px; width:35px'>5Y</td>
        <td style='font-size:20px; color:#21bf73; font-family:helvetica; line-height:22px; padding-bottom:2px; font-weight:bold; align=left; width:100px;'>7.76%</td>
        <td style='font-size:16px; color:#FFF; font-family:helvetica; line-height:22px; padding-bottom:2px; text-align:right; padding-right:5px;width:35px'>10Y</td>
        <td style='font-size:20px; color:#d63447; font-family:helvetica; line-height:28px; padding-bottom:2px; font-weight:bold; align=left; width:100px;'>-47.12%</td>
      </tr>
    </mj-table>
  </mj-column>
</mj-section>
