<mj-section padding="0px">
  <mj-column>
    <mj-text font-size="30px" color="#FFF" font-family="helvetica" font-weight="bold" align="center" line-height="22px" padding-bottom="2px" padding-right="0px" padding-left="0px">{{title}}</mj-text>
    {{#subtitle}}
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" padding-bottom="0px" align="center">{{subtitle}}</mj-text>
    {{/subtitle}}
    {{#undertitle}}
      <mj-text font-size="14px" color="#FFF" font-family="helvetica" align="center">{{undertitle}}</mj-text>
    {{/undertitle}}
  </mj-column>
</mj-section>

