---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - c1pmdjdfdje3j
      x-yahoo-request-id:
      - c1pmdjdfdje3j
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","exchangeName":"CCC","instrumentType":"CRYPTOCURRENCY","firstTradeDate":1410908400,"regularMarketTime":1591326752,"gmtoffset":3600,"timezone":"BST","exchangeTimezoneName":"Europe/London","regularMarketPrice":9826.977,"chartPreviousClose":9808.338,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"BST","start":1591311600,"end":1591311600,"gmtoffset":3600},"regular":{"timezone":"BST","start":1591311600,"end":1591397940,"gmtoffset":3600},"post":{"timezone":"BST","start":1591397940,"end":1591397940,"gmtoffset":3600}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1591326752],"indicators":{"quote":[{"low":[9790.404296875],"high":[9831.3720703125],"close":[9826.9765625],"open":[9808.337890625],"volume":[25432729600]}],"adjclose":[{"adjclose":[9826.9765625]}]}}],"error":null}}'
  recorded_at: Fri, 05 Jun 2020 03:13:55 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 58c1dj9fdje3j
      x-yahoo-request-id:
      - 58c1dj9fdje3j
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","ex[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - f1sqsk9fdje3k
      x-yahoo-request-id:
      - f1sqsk9fdje3k
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","exc[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - f1sjuf1fdje3l
      x-yahoo-request-id:
      - f1sjuf1fdje3l
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","ex[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/BTC-USD?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 0sclc91fdje3l
      x-yahoo-request-id:
      - 0sclc91fdje3l
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"BTC-USD","ex[...]
