---
http_interactions:
- request:
    method: get
    uri: https://api.wsj.net/api/dylan/quotes/v2/comp/quoteByDialect?EntitlementToken=cecc4267a0194af89ca343805a3e57af&accept=application%2Fjson&ckey=cecc4267a0&dialect=official&id=Future-US-NIY00%2CFuture-DE-FESX00%2CFuture-UK-Z00%2CFuture-DE-DAX00%2CFuture-US-NQ00%2CFuture-US-ES00%2CFuture-US-YM00&needed=CompositeTrading
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-machine:
      - SBKSCHTWEBP04
    body:
      encoding: UTF-8
      string: '{"InstrumentResponses":[{"RequestId":"Future-US-NIY00","Matches":[{"Instrument":{"Types":[{"Namespace":"http://service.marketwatch.com/ws/2007/05/symbology","Name":"Future","IsEmpty":false}],"Debug":["http://system.marketwatch.com/mrkt/symbolid/200021828","http://system.marketwatch.com/comstock/symbol/","http://system.marketwatch.com/varasto/varastoid/210213595","http://system.dowjones.com/dowjones/fuid/FUTURE-XCME-NIY00","http://system.marketwatch.com/dowjones/djid/30695937","http://system.marketwatch.com/dylan/official/FUTURE-US-NIY00"],"CommonName":"Nikkei
        225 Yen Continuous Contract","Ticker":"NIY00","Cusip":null,"Sedol":null,"Isin":null,"Expires":null,"Strike":null,"Exchange":{"Types":[{"Namespace":"http://service.marketwatch.com/ws/2007/05/symbology","Name":"Exchange","IsEmpty":false}],"Debug":["http://system.marketwatch.com/mrkt/exchangeid/0"],"CommonName":"U.S.:
        CME","Ticker":"CME","CountryCode":"US","MarketCode":null,"ExchangeDelay":15,"IsoCode":"XCME"},"Issuer":null,"Underlying":null},"UpdatedInstrument":null,"Trading":null,"AfterHoursTrading":null,"Offers":null,"TradingStatistics":null,"Financials":null,"BeforeHoursTrading":null,"FinancialStatusIndicator":null,"RealtimeTrading":null,"RealTimeBeforeHoursTrading":null,"RealTimeAfterHoursTrading":null,"CompositeTrading":{"Last":{"Price":{"Iso":"JPY","Value":22595.0},"Size":null,"Time":"2020-07-08T22:54:49.777"},"Open":{"Iso":"JPY","Value":22510.0},"High":{"Iso":"JPY","Value":22615.0},"Low":{"Iso":"JPY","Value":22435.0},"NetChange":{"Iso":"JPY","Value":100.0},"Volume":4911.0,"TradeCondition":null,"ChangePercent":0.4445432318292953989775505700,"IsRealtime":false},"CompositeBeforeHoursTrading":null,"CompositeAfterHoursTrading":null,"IndustryClassification":null,"FutureSpecific":{"SettlementPrice":22495.0,"SettlementDate":"2020-07-08T00:00:00","FutureFamilyAlias":null,"UnderlyingInstrument":null},"BondSpecific":null,"BlueGrassChannels":null,"TimeZoneInfo":null,"DebugInfo":null,"CurrencySpecific":null,"DatafeedSpecificCurrency":null,"Meta":null,"RoncoSpecific":null,"RelatedInstrumentInfo":null,"PastCloses":null,"MovingAverages":null,"TradingRange":null,"MutualFundSpecific":null,"DialectSymbols":null,"ReportingStatistics":null,"IndexSpecific":null}]},{"RequestId":"Future-DE-FESX00","Matches":[{"Instrument":{"Types":[{"Namespace":"http://service.marketwatch.com/ws/2007/05/symbology","Name":"Future","IsEmpty":false}],"Debug":["http://system.marketwatch.com/mrkt/symbolid/200021846","http://system.marketwatch.com/comstock/symbol/","http://system.marketwatch.com/varasto/varastoid/210001430","http://system.dowjones.com/dowjones/fuid/FUTURE-XEUR-FESX00","http://system.marketwatch.com/dowjones/djid/30695955","http://system.marketwatch.com/dy[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 4lp8tlpfgd5r3
      x-yahoo-request-id:
      - 4lp8tlpfgd5r3
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exchangeName":"SNP","instrumentType":"INDEX","firstTradeDate":-1325583000,"regularMarketTime":1594241935,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":3169.94,"chartPreviousClose":3145.32,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1594281600,"end":1594301400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1594301400,"end":1594324800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1594324800,"end":1594339200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1594215000,1594241935],"indicators":{"quote":[{"volume":[4927700000,2390189825],"open":[3153.070068359375,3153.070068359375],"high":[3171.800048828125,3171.800048828125],"low":[3136.530029296875,3136.530029296875],"close":[3169.93994140625,3169.93994140625]}],"adjclose":[{"adjclose":[3169.93994140625,3169.93994140625]}]}}],"error":null}}'
  recorded_at: Thu, 09 Jul 2020 04:04:51 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 3dg86khfgd5r3
      x-yahoo-request-id:
      - 3dg86khfgd5r3
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - e70f385fgd5r3
      x-yahoo-request-id:
      - e70f385fgd5r3
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","excha[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 89el865fgd5r3
      x-yahoo-request-id:
      - 89el865fgd5r3
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 70bfre9fgd5r3
      x-yahoo-request-id:
      - 70bfre9fgd5r3
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - c4l5dg1fgd5r4
      x-yahoo-request-id:
      - c4l5dg1fgd5r4
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1594242959,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":10492.5,"chartPreviousClose":10343.9,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1594281600,"end":1594301400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1594301400,"end":1594324800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1594324800,"end":1594339200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1594215000,1594242959],"indicators":{"quote":[{"open":[10409.349609375,10409.400390625],"volume":[3999180000,3706440038],"high":[10494.6298828125,10494.634765625],"close":[10492.5,10492.5],"low":[10350.9599609375,10350.9619140625]}],"adjclose":[{"adjclose":[10492.5,10492.5]}]}}],"error":null}}'
  recorded_at: Thu, 09 Jul 2020 04:04:52 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 4bgf4ptfgd5r4
      x-yahoo-request-id:
      - 4bgf4ptfgd5r4
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 2mq83q9fgd5r4
      x-yahoo-request-id:
      - 2mq83q9fgd5r4
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","excha[...]
[...]
- request:
    method: get
    uri: https://