---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - fq4fafdffap1c
      x-yahoo-request-id:
      - fq4fafdffap1c
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exchangeName":"SNP","instrumentType":"INDEX","firstTradeDate":-1325583000,"regularMarketTime":1593119499,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":3083.76,"chartPreviousClose":3050.33,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1593072000,"end":1593091800,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1593091800,"end":1593115200,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1593115200,"end":1593129600,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1593091800,1593119499],"indicators":{"quote":[{"low":[3024.010009765625,3024.010009765625],"high":[3086.25,3086.25],"close":[3083.760009765625,3083.760009765625],"open":[3046.60009765625,3046.60009765625],"volume":[4815420000,2707762288]}],"adjclose":[{"adjclose":[3083.760009765625,3083.760009765625]}]}}],"error":null}}'
  recorded_at: Fri, 26 Jun 2020 02:57:48 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 3gsj2ipffap1c
      x-yahoo-request-id:
      - 3gsj2ipffap1c
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 2pkbh5dffap1c
      x-yahoo-request-id:
      - 2pkbh5dffap1c
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","excha[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 00f4i5hffap1c
      x-yahoo-request-id:
      - 00f4i5hffap1c
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 87e166tffap1c
      x-yahoo-request-id:
      - 87e166tffap1c
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 3qaqi3dffap1d
      x-yahoo-request-id:
      - 3qaqi3dffap1d
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exchangeName":"NIM","instrumentType":"INDEX","firstTradeDate":34612200,"regularMarketTime":1593119759,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":10017.003,"chartPreviousClose":9909.17,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1593091800,"start":1593072000,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1593115200,"start":1593091800,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1593129600,"start":1593115200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1593091800,1593119759],"indicators":{"quote":[{"volume":[4709620000,72664586],"high":[10023.2802734375,10023.27734375],"low":[9810.4697265625,9810.46875],"close":[10017.0,10017.0029296875],"open":[9899.3603515625,10092.900390625]}],"adjclose":[{"adjclose":[10017.0,10017.0029296875]}]}}],"error":null}}'
  recorded_at: Fri, 26 Jun 2020 02:57:49 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - d72igbpffap1d
      x-yahoo-request-id:
      - d72igbpffap1d
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 45en3chffap1d
      x-yahoo-request-id:
      - 45en3chffap1d
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","excha[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - bidi9kdffap1d
      x-yahoo-request-id:
      - bidi9kdffap1d
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exch[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EIXIC?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 28bc859ffap1d
      x-yahoo-request-id:
      - 28bc859ffap1d
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^IXIC","exch[...]
