---
http_interactions:
- request:
    method: get
    uri: https://sheetdb.io/api/v1/cdcr74wgygdzl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '598'
    body:
      encoding: ASCII-8BIT
      string: '[{"best":"s","symbol":"PINS","headline":"test","date":"","source":"","url":""}]'
  recorded_at: Wed, 04 Nov 2020 04:46:40 GMT
recorded_with: VCR 6.0.0
