---
http_interactions:
- request:
    method: get
    uri: https://sheetdb.io/api/v1/cdcr74wgygdzl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '600'
      x-ratelimit-remaining:
      - '599'
    body:
      encoding: ASCII-8BIT
      string: '[{"best":"","symbol":"MRNA","headline":"\"A Vaccine For The Rich\"
        - Pfizer''s COVID-19 Jab Almost Impossible To Distribute In Poorer Countries","date":"2020-11-12","source":"Zero
        Hedge","url":"https:\/\/cloud.iexapis.com\/v1\/news\/article\/ce5ab8d6-0daf-4ac2-84a3-d05117cc833b"},{"best":"","symbol":"MRNA","headline":"Here\u2019s
        what Dr. Fauci has to say about the \u2018extraordinary\u2019 Pfizer coronavirus
        vaccine","date":"2020-11-11","source":"BGR","url":"https:\/\/cloud.iexapis.com\/v1\/news\/article\/1e1776f2-6a78-45e0-8f01-ac4e9f97935b"},{"best":"x","symbol":"MRNA","headline":"Moderna
        expects to know by the end of the month whether its Covid-19 vaccine w[...]
