---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EGSPC?includePrePost=false&indicators=quote&interval=1d&period1=-2208960000&period2=1591242037
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 32dfhttfdgr9m
      x-yahoo-request-id:
      - 32dfhttfdgr9m
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"^GSPC","exchangeName":"SNP","instrumentType":"INDEX","firstTradeDate":-1325583000,"regularMarketTime":1591219100,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":3122.87,"chartPreviousClose":17.66,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1591171200,"end":1591191000,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1591191000,"end":1591214400,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1591214400,"end":1591228800,"gmtoffset":-14400}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[-1325583000,-1325237400,-1325151000,-1325064600,-1324978200,-1324719000,-1324632600,-1324546200,-1324459800,-1324373400,-1324114200,-1324027800,-1323941400,-1323855000,-1323768600,-1323509400,-1323423000,-1323336600,-1323250200,-1323163800,-1322904600,-1322818200,-1322731800,-1322645400,-1322559000,-1322299800,-1322213400,-1322127000,-1322040600,-1321954200,-1321608600,-1321522200,-1321435800,-1321349400,-1321090200,-1321003800,-1320831000,-1320744600,-1320485400,-1320399000,-1320312600,-132022[...]
