---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/XLE?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 316atohfdje3h
      x-yahoo-request-id:
      - 316atohfdje3h
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"XLE","exchangeName":"PCX","instrumentType":"ETF","firstTradeDate":914337000,"regularMarketTime":1591300800,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":41.74,"chartPreviousClose":41.73,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1591257600,"end":1591277400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1591277400,"end":1591300800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1591300800,"end":1591315200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1591277400,1591300800],"indicators":{"quote":[{"open":[41.5,41.5],"close":[41.7400016784668,41.7400016784668],"low":[40.900001525878906,40.900001525878906],"volume":[27417000,26969268],"high":[41.900001525878906,41.900001525878906]}],"adjclose":[{"adjclose":[41.7400016784668,41.7400016784668]}]}}],"error":null}}'
  recorded_at: Fri, 05 Jun 2020 03:13:53 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/XLE?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - fsdfa9hfdje3h
      x-yahoo-request-id:
      - fsdfa9hfdje3h
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"XLE","exchangeNa[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/XLE?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - atu7n3lfdje3h
      x-yahoo-request-id:
      - atu7n3lfdje3h
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"XLE","exchangeNam[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/XLE?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 338htolfdje3i
      x-yahoo-request-id:
      - 338htolfdje3i
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"XLE","exchangeNa[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/XLE?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 8v8pe4pfdje3i
      x-yahoo-request-id:
      - 8v8pe4pfdje3i
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"XLE","exchangeNa[...]
