---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/FB?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 4im2np1fdje3l
      x-yahoo-request-id:
      - 4im2np1fdje3l
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"FB","exchangeName":"NMS","instrumentType":"EQUITY","firstTradeDate":1337347800,"regularMarketTime":1591300801,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":226.29,"chartPreviousClose":230.16,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","start":1591257600,"end":1591277400,"gmtoffset":-14400},"regular":{"timezone":"EDT","start":1591277400,"end":1591300800,"gmtoffset":-14400},"post":{"timezone":"EDT","start":1591300800,"end":1591315200,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1591277400,1591300801],"indicators":{"quote":[{"open":[229.55999755859375,229.55999755859375],"close":[226.2899932861328,226.2899932861328],"high":[231.6300048828125,231.6300048828125],"low":[224.61000061035156,224.61000061035156],"volume":[17020400,16548070]}],"adjclose":[{"adjclose":[226.2899932861328,226.2899932861328]}]}}],"error":null}}'
  recorded_at: Fri, 05 Jun 2020 03:13:57 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/FB?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 673cmehfdje3t
      x-yahoo-request-id:
      - 673cmehfdje3t
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"FB","exchangeName[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/FB?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - e9cirahfdje3u
      x-yahoo-request-id:
      - e9cirahfdje3u
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"FB","exchangeName"[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/FB?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - dig874dfdje3u
      x-yahoo-request-id:
      - dig874dfdje3u
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"FB","exchangeName[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/FB?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 1usi7itfdje3u
      x-yahoo-request-id:
      - 1usi7itfdje3u
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"FB","exchangeName[...]
