---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 8qvjo25fdje3e
      x-yahoo-request-id:
      - 8qvjo25fdje3e
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"JPY","symbol":"^N225","exchangeName":"OSA","instrumentType":"INDEX","firstTradeDate":-157420800,"regularMarketTime":1591324503,"gmtoffset":32400,"timezone":"JST","exchangeTimezoneName":"Asia/Tokyo","regularMarketPrice":22616.77,"chartPreviousClose":22695.74,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"JST","start":1591315200,"end":1591315200,"gmtoffset":32400},"regular":{"timezone":"JST","start":1591315200,"end":1591336800,"gmtoffset":32400},"post":{"timezone":"JST","start":1591336800,"end":1591336800,"gmtoffset":32400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1591324503],"indicators":{"quote":[{"low":[22563.560546875],"high":[22659.69921875],"close":[22616.76953125],"open":[22613.080078125],"volume":[0]}],"adjclose":[{"adjclose":[22616.76953125]}]}}],"error":null}}'
  recorded_at: Fri, 05 Jun 2020 03:13:50 GMT
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=1mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - bffhg99fdje3f
      x-yahoo-request-id:
      - bffhg99fdje3f
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"JPY","symbol":"^N225","exch[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=1y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 52oqpj9fdje3f
      x-yahoo-request-id:
      - 52oqpj9fdje3f
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"JPY","symbol":"^N225","excha[...]
[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=ytd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - dgj6ldpfdje3f
      x-yahoo-request-id:
      - dgj6ldpfdje3f
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"JPY","symbol":"^N225","exch[...]
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/%5EN225?interval=1d&range=max
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      y-rid:
      - 8552m5dfdje3f
      x-yahoo-request-id:
      - 8552m5dfdje3f
    body:
      encoding: ASCII-8BIT
      string: '{"chart":{"result":[{"meta":{"currency":"JPY","symbol":"^N225","exch[...]
